@use './var'as var;
@use './mixin' as mixin;
@use './basic';
// ------------------------------------------- class_setting
.title {
  @include mixin.container-style(95%, 15%, flex-start, center);
}

.title-text {
  @include mixin.font(2.5rem, 600, var.$col-1);
}

.list {
  list-style-type: none;
  position: relative;
  // @include mixin.container-style(100%, 100%, space-around, center);
}

.circle-style{
  @include mixin.box-style(150px, 150px, var.$col-gray,50%);
}
// ------------------------------------------- class_setting

#root {
  @include mixin.container-style(100vw, 100vh, center, center,column);
  background-color: aliceblue;

  &>section:nth-child(2){
    @include mixin.container-style(100%, 85%, space-evenly, center); 
  }

}

#left-box{
  @include mixin.container-style(85%, 100%, space-evenly, center);
  color: var.$col-dark-gray;
  position: relative;
  // background-color: bisque;
}

#circle-box{
  @include mixin.container-style(100%, 100%, center,center,column);
  position: absolute;
  // border: solid 1px firebrick;
  z-index: 5;

  &>div{
    @include mixin.box-style(100px, 100px, var.$col-gray,50%);
    position: absolute;
  }
}

.circle-1{
  top: 65%;
  left: 5%;
}

.circle-2{
  top: -5%;
  right: -2%;
}

.circle-3{
  top: 80%;
  right: 5%;
}


#contents-box{
  @include mixin.container-style(70%,100%,space-around,center,column);
  // background-color: bisque;
  position: relative;

  &>div{
    @include mixin.container-style(85%, 30%, space-between, center);
    // border: dotted 1px darkblue;

    &>div:nth-child(2){
      @include mixin.container-style(80%, 80%, space-evenly,center,column);
      // border: solid black 1px;
      &>div:nth-child(1){
        @include mixin.container-style(90%, 20%, flex-start,center);
        // background-color: seashell;
      }
      &>div:nth-child(2){
        @include mixin.container-style(90%, 70%, flex-start,center);
      }
    }
  }
}


#right-box{
  @include mixin.container-style(15%,100%, space-around, center, column);
  position: relative;
  // border:var.$solid-gray ;
  overflow: hidden  ;

  &>div:nth-child(1){
    padding-left: 4vw;
    @include mixin.box-style(300px, 300px, var.$col-gray, 50%);
    @include mixin.flex(flex-start, center);
    @include mixin.font(1.5rem, 400, var.$col-dark-gray);
    position: fixed;
    right: -7%;
  }

  &>div:nth-child(2){
    padding-left: 4vw;
    @include mixin.box-style(400px, 400px, var.$col-gray, 50%);
    @include mixin.flex(flex-start, center);
    @include mixin.position(relative,20%);
    // @include mixin.font(1.3rem, 400, var.$col-dark-gray);
    display: none;
    &>ul{
      @include mixin.container-style(90%,80%, space-around, flex-start,column);
      // border: 1px solid black;
      &>li{
        @include mixin.container-style(50%,12%, center,center);
        // background-color: bisque;
      }
    }
  }
}